@import 'tailwindcss';

@font-face {
  font-family: 'Ogg';
  src: url('./assets/fonts/Ogg-Regular-BF646c18fc465e5.ttf');
  font-weight: linear;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Mono';
  src: url('./assets/fonts/ApercuMonoProRegular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Regular';
  src: url('./assets/fonts/ApercuRegular.otf');
  font-weight: normal;
  font-style: normal;
}

@theme {
  /* Fonts */
  --font-ogg: 'Ogg', sans-serif;
  --font-apercu-mono: 'Apercu Mono', sans-serif;
  --font-apercu-regular: 'Apercu Regular', sans-serif;

  /* Colours */
  --color-lblue-custom: #5ea3ec;
  --color-red-custom: #f64444;
  --color-yellow-custom: #ffb400;
}

/* Customs */

@media(min-width: 768px) {
  .main-container {
    width: calc(100% - 180px);
  }
}

/* Logo */

.animate-logo {
  animation: spawn 1.6s normal;
}

@keyframes spawn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes nav-fade {
  0% {
    display: block;
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

/* Hamburger Navbar */

.fade-out {
  animation: nav-fade .2s linear;
  animation-fill-mode: forwards;
}

.delay-food-h {
  animation-delay: .1s;
  animation-fill-mode: forwards;
}

.delay-retail-h {
  animation-delay: .2s;
  animation-fill-mode: forwards;
}

.delay-community-h {
  animation-delay: .3s;
  animation-fill-mode: forwards;
}

.delay-bhalf-h {
  animation-delay: .4s;
  animation-fill-mode: forwards;
}

/* Hero */

.animate-hero-text {
  animation: spawn 1s linear 1.6s forwards;
}

.animate-hero-image {
  animation: spawn 1.2s linear forwards;
}

.animate-span {
  background-image: repeating-linear-gradient(-45deg, #ffb400, #ffb400 1px, transparent 0, transparent 13px), repeating-linear-gradient(45deg, #ffb400, #ffb400 1px, transparent 0, transparent 11px);
  padding-bottom: 10px;
  background-position: 0 103%, 2px 103%;
  background-size: 17px 10px;
  background-repeat: repeat-x;
  animation: .8s infinite normal underline-flow;
  animation-timing-function: linear;
}

@keyframes underline-flow {
  0% {
    background-position-x: 0, 2px;
  }

  100% {
    background-position-x: 17px, 19px;
  }
}

/* Navbar */

.animate-yellow-bar {
  animation: bar 0.8s linear;
}

.animate-yellow-text {
  animation: text 0.8s linear forwards;
}

.animate-yellow-ch {
  animation: ch 0.8s linear forwards;
}

.animate-red-bar {
  animation: bar 1s linear;
}

.animate-red-text {
  animation: text 1s linear forwards;
}

.animate-red-ch {
  animation: ch 1s linear forwards;
}

.animate-blue-bar {
  animation: bar 1.2s linear;
}

.animate-blue-text {
  animation: text 1.2s linear forwards;
}

.animate-blue-ch {
  animation: ch 1.2s linear forwards;
}

@keyframes bar {
  0% {
    margin-right: 1044px;
  }

  100% {
    margin-right: 0px;
  }
}

@keyframes text {
  0% {
    left: -200%;
    right: 200%;
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    left: 0;
    right: 0;
    opacity: 1;
  }
}

@keyframes ch {
  0% {
    left: -589px;
    opacity: 0;
  }

  100% {
    left: 68px;
    opacity: 1;
  }
}

/* Details */

.animate-details {
  animation: spawn 1.2s linear forwards;
}

/* Animated borders */

.animate-borders {
  background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
  animation: .4s infinite linear borders;
  animation-timing-function: linear;
  animation-play-state: paused;
}

.animate-borders:hover {
  animation-play-state: running;
}

@keyframes borders {
  0% {
    background-position: 0 0, 0 100%, 0 0, 100% 0;
  }

  100% {
    background-position: 30px 0, -30px 100%, 0 -30px, 100% 30px;
  }
}

/* Decor borders */

.decor-borders {
  background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
  animation: .8s infinite linear decor;
  animation-timing-function: linear;
  animation-play-state: paused;
}

@keyframes decor {
  0% {
    background-position: 0 0, 0 100%, 0 0, 100% 0;
  }

  100% {
    background-position: 30px 0, 30px 100%, 0 -30px, 100% 30px;
  }
}

@media(min-width: 768px) {
  .animate-decor {
    animation-play-state: running;
  }

  .animate-decor.reversed {
    animation-direction: reverse;
  }
}

/* Footer */

.decor-y {
  background-image: repeating-linear-gradient(-74deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 0, transparent 4px), repeating-linear-gradient(-74deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 0, transparent 4px);
  background-position: 0 0, 0 100%;
  background-size: 100% 12px, 100% 12px;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
}